h1{
    border: 5px solid black;
}.center{
    justify-content: center;
    text-align: center;
}
 .bg
 {
    background-size: cover;
    background-image: url(img/bg5.jpeg);
 }

 #content{
    
    height: 450px;
    width: 400px;
    text-align: center; 
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.70);

 }

 #bd{
    border-radius: 20px;
 }